.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  gap: 15%;
  @media screen and (min-width: 800px) {
    height: 160px;
    gap: 60px;
  }
  &__icon:hover{
    path{
      fill: #c6cfe8;
    }
  }
}